/* body styles */
body {
    background-color: #4b4b4b;
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

/* header styles */
header {
    background-color: #2e2e2e;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tablink-container {
    display: flex;
}

.tablink {
    background-color: #556b2f  ;
    color: white;
    cursor: pointer;
    padding: 15px 15px;
    font-size: 15px;
    border: none;
    outline: none;
    width: 110px;
    margin-right: 5px;
    transition: 0.3s;
}

.tablink:hover {
    background-color: #3d8b40 ;
}

/* button styles */
.button-container {
    display: flex;
    align-items: center;
}

.settingsButton {
    background-color: #272727;
    color: white;
    cursor: help;
    padding: 15px 15px;
    font-size: 15px;
    border: none;
    outline: none;
    width: 141px;
}

.settingsButton:hover {
    background-color: #1e1e1e;
}

.helpButton {
    background-color:#ff2200;
    color: white;
    cursor: help;
    padding: 15px 15px;
    font-size: 15px;
    border: none;
    outline: none;
    width: 40px;
    margin-left: 5px; /* Add margin to separate from the settings button */
}

.helpButton:hover {
    background-color: rgba(255, 0, 0, 0.705);
}

.unitButton {
    background-color:#272727;
    color: white;
    cursor: help;
    padding: 15px 15px;
    font-size: 15px;
    border: none;
    outline: none;
    width: 185px; /* Adjusted width to 185px */
    margin-left: 5px; /* Add margin to separate from the settings button */
}

.unitButton:hover {
    background-color: #1e1e1e;
}

/* info styles */
.info-bar {
    display: flex;
    background-color: #3e3e3e ;
}

.date-time,
.geoData {
    margin-left: 5px;
    display: flex;
    font-size: 15px;
    color: black;
}

.date-time h4,
.geoData h4 {
    margin-right: 20px;
}

.n {
    color: black;
    font-size: 15px;
    margin-left: 5px;
    margin-right: auto;
}

/* unit help styles */
.unit-container {
    position: absolute;
    top: 120px; /* Adjust the distance from the top edge */
    right: 5px; /* Adjust the distance from the right edge */
}

.unit-table {
    margin-top: 5px; /* Adjust spacing as needed */
    margin-left: 5px; /* Adjust spacing as needed */
    border-collapse: collapse;
    width: 185px; /* Change to auto to match the content width */
}

.unit-table th,
.unit-table td {
    border: 2px solid #ddd;
    padding: 10px;
    text-align: left;
    background-color: aqua;
}

.unit-table th {
    background-color: #f2f2f2;
}

/* main styles */
h1, h2, h3 {
    color: black;
    font-size: 20px;
    margin-left: 5px;
}

.color-box {
    width: 90px; /* Adjust the width of the color box */
    height: 20px; /* Adjust the height of the color box */
    border: 1px solid #000; /* Add border to the color box */
}
