/* body styles */
body {
    background-color: #191c24;
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

/* header styles */
header {
    background-color: #af1763;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tablink-container {
    display: flex;
}

.tablink {
    background-color: #0dcaf0;
    color: white;
    cursor: pointer;
    padding: 15px 15px;
    font-size: 15px;
    border: none;
    outline: none;
    width: 110px;
    margin-right: 5px;
    transition: 0.3s;
}

.tablink:hover {
    background-color: #0d6efd;
}

/* button styles */
.button-container {
    display: flex;
    align-items: center;
}

.settingsButton {
    background-color: black;
    color: white;
    cursor: help;
    padding: 15px 15px;
    font-size: 15px;
    border: none;
    outline: none;
    width: 141px;
}

.settingsButton:hover {
    background-color: #8a114d;
}

.helpButton {
    background-color:#FF2400;
    color: white;
    cursor: help;
    padding: 15px 15px;
    font-size: 15px;
    border: none;
    outline: none;
    width: 40px;
    margin-left: 5px; /* Add margin to separate from the settings button */
}

.helpButton:hover {
    background-color: rgb(167, 1, 1);
}

.unitButton {
    background-color:#FF2400;
    color: white;
    cursor: help;
    padding: 15px 15px;
    font-size: 15px;
    border: none;
    outline: none;
    width: 185px; /* Adjusted width to 185px */
    margin-left: 5px; /* Add margin to separate from the settings button */
}

.unitButton:hover {
    background-color: rgb(167, 1, 1);
}

/* info styles */
.info-bar {
    display: flex;
    background-color: #8a114d;
}

.date-time,
.geoData {
    margin-left: 5px;
    display: flex;
    font-size: 15px;
    color: white;
}

.date-time h4,
.geoData h4 {
    margin-right: 20px;
}

.n {
    color: white;
    font-size: 15px;
    margin-left: 5px;
    margin-right: auto;
}

/* unit help styles */
.unit-container {
    position: absolute;
    top: 120px; /* Adjust the distance from the top edge */
    right: 5px; /* Adjust the distance from the right edge */
}

.unit-table {
    margin-top: 5px; /* Adjust spacing as needed */
    margin-left: 5px; /* Adjust spacing as needed */
    border-collapse: collapse;
    width: 185px; /* Change to auto to match the content width */
}

.unit-table th,
.unit-table td {
    border: 2px solid #ddd;
    padding: 10px;
    text-align: left;
    background-color: aqua;
}

.unit-table th {
    background-color: #f2f2f2;
}

/* main styles */
h1, h2, h3 {
    color: white;
    font-size: 20px;
    margin-left: 5px;
}
