/* body styles */ 
body {
    background-color: #2F4F4F;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* header styles */
header {
    background-color: #B8860B;
    padding: 5px;

}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.date-time {
    display: flex;
    flex-direction: column;
}

.date-time h4 {
    color: white; 
    font-size: 1.2em;
    padding-left: 5px;
    margin: 0;
}

.logo {
    margin-left: auto;
}

/* Add the following CSS to your existing stylesheet */

/* Center the tab buttons */
.tab {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Adjust spacing as needed */
}

/* Style the tab buttons */
.tab button {
    background-color: #f2f2f2;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

/* Style the active tab button */
.tab button.active {
    background-color: #4CAF50; /* Change color as desired */
    color: white;
}

/* Add box shadow to the tab buttons */
.tab button {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Adjust shadow as needed */
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
}


/* text styles */
h1, h2, h3, h4 {
    text-align: center; /* Center text */
    color: white; 
    font-size: 1.2em; /* Adjust font size */
}
