<!DOCTYPE html>
<html>

    <head>
        <title>Information - Home</title>
        <link rel="icon" type="image/x-icon" href="../static/imgs/start.png">
        <link rel="stylesheet" type="text/css" href="../static/style.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>Information</h1>
        <h2>System Information <br> system's name: {{ name }}</h2>

        <h3 id="ram-usage">RAM Usage: </h3>
        <script>
            $(document).ready(function(){
                setInterval(function(){
                    $.getJSON('/ram_usage', function(data) {
                        $('#ram-usage').text('RAM Usage: ' + data.ram_usage + '%');
                    });
                }, 1000); // Update every second
            });
        </script>

        <h3 id="current_date">Systems date:</h3>
        <script>
            $(document).ready(function(){
                setInterval(function(){
                    $.getJSON('/current_date', function(data) {
                        $('#current_date').text('Systems date: ' + data.current_date);
                    });
                }, 1000); // Update every second
            });
        </script>

        <h3 id="current_time">Systems Time</h3>
        <script>
            $(document).ready(function(){
                setInterval(function(){
                    $.getJSON('/current_time', function(data) {
                        $('#current_time').text('Systems Time: ' + data.current_time);
                    })
                }, 1000); // update evrey second 
            })
        </script>
    </body>
</html>
