<!DOCTYPE html>
<html>

    <head>
        <title>Information - Home</title>
        <link rel="icon" type="image/x-icon" href="../static/imgs/start.png">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/js/time.js"></script>
        <script src="../static/js/tabButtons.js"></script>
        <script src="../static/js/date.js"></script>
        <script src="../static/js/ram.js"></script>
        <script src="../static/js/location.js"></script>
        <script src="../static/js/conditions.js"></script>
        <script src="../static/js/windspeed.js"></script>
    </head>

    <body>
        <header>
            <nav>
                <div class="tablink-container">

                </div>

                <button id="settingsButton" class="settingsButton">Settings</button>
            </nav>
        </header>
        
        <div class="info-bar">
            <div class="date-time">
                <h4 id="current_time">Current Time:</h4>
                <h4 id="current_date">Current date:</h4>
            </div>
            
            <div class="geoData">
                <h4 id="current_location">current location:</h4>
                <h4 id="conditions">Current Weather:</h4>
                <h4 id="windspeed">Wind Speed:</h4>
            </div>
        </div>

        <div class="tabcontent-container">

        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/js/tabButtons.js"></script>
        <script src="../static/js/zones.js"></script>
    </body>

</html>
